weightslab.egg-info/*
build/*
dist/*
weightslab/__pycache__/*
tests/__pycache__/*
__pycache__/*
pkg_main.py

*.onnx
*.pt
*.pth
*.h5
*.ckpt
*.log
*.csv
*.sqlite
*.db
*.ipynb_checkpoints
.vscode/

__pycache__/

experiment_service_pb2.py
experiment_service_pb2_grpc.py
